
body{
    font-family: 'Open Sans', sans-serif;
    margin: 0;
}
h1{
    font-size: 50px;
    color: darkgoldenrod;

}
h3{
    font-size: 20px;
    color: maroon;
}
h2{
    font-size: 30px;
    color: darkgoldenrod;

}
p{
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: justify;
    color: dimgray;
    padding-bottom: 2%;
}
.name-highlighter{
color: darkred;
}
.name-highlighter2{
    color: darkslategrey;
}
.half-width{
    float: left;
    width: 40%;
    margin-left: 5%;
    padding: 2%;
}
.half-width img{
    width: 90%;
}
.top-background{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}
section{
    height: 500px;
    padding-bottom: 150px;
}
.link-button{
    text-decoration: none;
    background-color: dimgray;
    padding: 10px 20px;
    border-radius: 5px;
    color: ghostwhite;
}
.dream-big{
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}
.single-area{
    box-shadow: 10px 20px 40px gray;
    border-radius: 5px;
    height: 60%;
}
.experience{
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}
#java-developer{
    border-left: 7px solid;
    border-image: linear-gradient(#f6903c, #ecbf7b) 30;
    border-image-slice: 1;
}
#student-assistant{
    border-left: 7px solid;
    border-image: linear-gradient(aqua, blue) 30;
    border-image-slice: 1;
}
footer p{
    text-align: center;
}